showroom-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "showroom-datafactory"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LS_mssql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_mssql'"
		},
		"LS_postegree_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_postegree'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://showroomdatalake.dfs.core.windows.net/"
		},
		"LS_mssql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"LS_mssql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Car_Showroom_Enterprise"
		},
		"LS_mssql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_postegree_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"LS_postegree_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Marketing_Enterprise_DB"
		},
		"LS_postegree_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-desktop')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"target_directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().target_directory",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_mssql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_mssql_properties_typeProperties_server')]",
					"database": "[parameters('LS_mssql_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_mssql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_mssql_password')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-desktop",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-desktop')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_postegree')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('LS_postegree_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('LS_postegree_properties_typeProperties_database')]",
					"username": "[parameters('LS_postegree_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_postegree_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "shir-desktop",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-desktop')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_mssql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_mssql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "source_db_type",
						"type": "varchar"
					},
					{
						"name": "source_linked_service",
						"type": "varchar"
					},
					{
						"name": "source_schema",
						"type": "varchar"
					},
					{
						"name": "source_table",
						"type": "varchar"
					},
					{
						"name": "target_directory",
						"type": "varchar"
					},
					{
						"name": "watermark_column",
						"type": "varchar"
					},
					{
						"name": "last_load_value",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "data_factory_control_log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mssql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_mssql_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_mssql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schemaname": {
						"type": "string"
					},
					"Tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mssql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_postgreesql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_postegree",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_postegree')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_server_to_broze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Table_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_mssql",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "check_table_name",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get_Table_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Table_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Check_Database_Type",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().source_db_type,'PostgreSQL')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy MSSQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT * FROM ',\nitem().source_schema,\n'.',\nitem().source_table,\n' WHERE ',\nitem().watermark_column,\n' > ''',\nitem().last_load_value,\n''''\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_mssql_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"Schemaname": {
																"value": "@item().source_schema",
																"type": "Expression"
															},
															"Tablename": {
																"value": "@item().source_table",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_bronze",
														"type": "DatasetReference",
														"parameters": {
															"target_directory": {
																"value": "@item().target_directory",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "mssql_max_load_date",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy MSSQL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT MAX(',\nitem().watermark_column,\n') AS MaxWatermark FROM ',\nitem().source_schema,\n'.',\nitem().source_table\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_mssql_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"Schemaname": {
																"value": "@item().source_schema",
																"type": "Expression"
															},
															"Tablename": {
																"value": "@item().source_table",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "Stored procedure mssql",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "mssql_max_load_date",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_UpdateWatermark]",
													"storedProcedureParameters": {
														"LastLoadValue": {
															"value": {
																"value": "@activity('mssql_max_load_date').output.firstRow.maxwatermark",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"SourceTable": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_mssql",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "copy-postgree",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlV2Source",
														"query": {
															"value": "@concat(\n'SELECT * FROM ',\nitem().source_schema,\n'.',\nitem().source_table,\n' WHERE ',\nitem().watermark_column,\n' > ''',\nitem().last_load_value,\n''''\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_postgreesql",
														"type": "DatasetReference",
														"parameters": {
															"schemaname": "@item().source_schema",
															"tablename": "@item().source_table"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_bronze",
														"type": "DatasetReference",
														"parameters": {
															"target_directory": "@item().target_directory"
														}
													}
												]
											},
											{
												"name": "Ps_max_load_date",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "copy-postgree",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlV2Source",
														"query": {
															"value": "@concat(\n'SELECT MAX(',\nitem().watermark_column,\n') AS MaxWatermark FROM ',\nitem().source_schema,\n'.',\nitem().source_table\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00"
													},
													"dataset": {
														"referenceName": "DS_postgreesql",
														"type": "DatasetReference",
														"parameters": {
															"schemaname": {
																"value": "@item().source_schema",
																"type": "Expression"
															},
															"tablename": {
																"value": "@item().source_table",
																"type": "Expression"
															}
														}
													},
													"firstRowOnly": true
												}
											},
											{
												"name": "Stored procedure postgree",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Ps_max_load_date",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[usp_UpdateWatermark]",
													"storedProcedureParameters": {
														"LastLoadValue": {
															"value": {
																"value": "@activity('Ps_max_load_date').output.firstRow.MaxWatermark",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"SourceTable": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_mssql",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_mssql')]",
				"[concat(variables('factoryId'), '/datasets/DS_mssql_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/DS_bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_mssql')]",
				"[concat(variables('factoryId'), '/datasets/DS_postgreesql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/monthly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "sql_server_to_broze",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2026-07-01T18:28:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sql_server_to_broze')]"
			]
		}
	]
}